.btn {
  background-color: $grey1;
  border: none;
  border-radius: 3px;
  color: $grey2;
  height: 40px;
  line-height: 36px;
  outline: 0;
  padding: 0 15px;
}

.btn-primary {
  background-color: $blue;
  color: $white;
}

.btn-error {
  background-color: $red;
  color: $white;
}