* {
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 10px;
}

.app {
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
  text-align: center;
}

.button {
  border: 0;
  border-radius: 5px;
  color: #fff;
  outline: 0;
  margin: 0 5px;
  padding: 5px 10px;
}

.buttonSuccess {
  composes: button;
  background-color: #27ae60;
}

.buttonPrimary {
  composes: button;
  background-color: #2980b9;
}